.service
  padding: 30px 0
  .main-title
    margin-bottom: 35px

  &__item
    margin: 10px 0
    position: relative


  &__item-title
    +ssb
    margin-top: 15px
    line-height: (21/16)
    a
      color: $color-primary
      &:hover
        color: $color-blue


  &__preview
    display: block
    position: relative
    z-index: 2
    &:hover
      &:after
        transform: translateX(-15px)
      span
        transform: translate(5px, -5px)
    &:after
      content: ''
      position: absolute
      top: 30px
      left: 0
      right: 0
      background-color: $color-blue
      z-index: 1
      height: 150px
      transition: transform .5s ease-in-out
      +media-breakpoint-up(sm)
        height: 290px
    span
      display: block
      height: 250px
      position: relative
      +cover
      z-index: 2
      transition: transform .5s ease-in-out
      +media-breakpoint-up(sm)
        height: 350px
