+font-face(SourceSansProRegular, "../fonts/SourceSansProRegular/SourceSansProRegular", null, null, eot woff ttf svg)
=ssr()
  font-family: SourceSansProRegular, sans-serif

+font-face(SourceSansProBold, "../fonts/SourceSansProBold/SourceSansProBold", null, null, eot woff ttf svg)
=ssb()
  font-family: SourceSansProBold, sans-serif

+font-face(SourceSansProBlack, "../fonts/SourceSansProBlack/SourceSansProBlack", null, null, eot woff ttf svg)
=ssbl()
  font-family: SourceSansProBlack, sans-serif