body
  +ssr
  font-size: 16px
  line-height: (24/16)
  color: $color-default
  width: 100%
  height: 100%

img
  max-width: 100%

.page
  &__wrap
    overflow: hidden
    background-image: url(../image/lines.png)
    background-repeat: repeat-y
    background-position: 50% 0
    


.main-title
  +ssb
  font-size: 28px
  color: $color-primary
  line-height: (34/28)


.btn
  user-select: none
  cursor: pointer
  background: none
  border: 0 none
  display: inline-block
  outline: none
  &_default
    +ssb
    +box
    border: 1px solid $color-primary
    color: $color-primary
    border-radius: 23px
    height: 46px
    line-height: 46px
    width: 201px
    text-align: center
    font-size: 14px
    transition: all .3s ease-in-out
    &:hover
      background-color: $color-blue
      border-color: $color-blue
      color: #fff
  &_primary
    +ssb
    +box
    border: 1px solid $color-blue
    color: #fff
    background-color: $color-blue
    border-radius: 23px
    height: 46px
    line-height: 46px
    width: 201px
    text-align: center
    font-size: 14px
    transition: all .3s ease-in-out
    &:hover
      background-color: transparent
      color: $color-blue

.logo
  display: inline-block
  img
    display: block
    width: 108px
    height: 43px

.phone
  svg
    vertical-align: middle
    margin-right: 5px
  a
    +ssb
    color: #fff
    font-size: 14px
    vertical-align: middle

.person
  svg
    vertical-align: middle
    margin-right: 5px
  a
    color: #fff
    font-size: 14px
    vertical-align: middle


.play
  +box
  +ssb
  user-select: none
  cursor: pointer
  height: 46px
  line-height: 46px
  width: 201px
  border: 1px solid #fff
  color: #fff
  font-size: 14px
  border-radius: 23px
  display: inline-block
  text-align: center
  position: relative
  padding-left: 30px
  transition: all .5s ease-in-out
  &:hover
    background-color: $color-blue
    border-color: $color-blue
    

  &__play
    position: absolute
    top: 50%
    margin-top: -14px
    left: 15px
    display: block
    vertical-align: middle
    width: 28px
    height: 28px
    background-color: #fff
    border-radius: 100%
    margin-right: 18px
    &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      margin-left: -3.5px
      margin-top: -5px
      border-left: 9px solid $color-blue
      border-top: 5px solid transparent
      border-bottom: 5px solid transparent

.hamburger
  position: relative
  height: 16px
  width: 22px
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 2px
    background-color: #fff
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 2px
    background-color: #fff
  span
    position: absolute
    top: 50%
    left: 0
    right: 0
    height: 2px
    transform: translateY(-50%)
    background-color: #fff


.slideout-menu
  position: fixed
  top: 0
  bottom: 0
  width: 256px
  min-height: 100vh
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  z-index: -100
  display: block
  +r(992)
    z-index: 0
    display: none

.slideout-menu-left
  left: 0

.slideout-menu-right
  right: 0

.slideout-panel
  position: relative
  z-index: 1
  will-change: transform
  background-color: #FFF
  min-height: 100vh


.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
  overflow: auto
  +r(992)
    overflow: hidden

.slideout-open .slideout-menu
  display: block


.slideout-panel:before
  content: ''
  background-color: rgba(0,0,0,0)
  transition: background-color 0.5s ease-in-out
  display: none
  +r(992)
    display: block

.slideout-panel.panel-open:before
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  background-color: rgba(0,0,0,.5)
  z-index: 99


.anim-in
  animation: scaleUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1)


@keyframes scaleUp
  from
  to
    transform: scale(1.2)
    opacity: 0

.anim-out
  animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1)

@keyframes scaleDownUp
  from
    opacity: 0
    -webkit-transform: scale(0.9)
    transform: scale(0.9)
  to
    opacity: 1
    -webkit-transform: scale(1)
    transform: scale(1)
