.result
  padding: 60px 0
  .main-title
    margin-bottom: 50px
  &__line
    +media-breakpoint-up(md)
      &.active
        &:nth-child(odd)
          .result__term
            background-color: $color-blue
    &:nth-child(odd)
      +media-breakpoint-up(md)
        .result__term
          background-color: #001843
      

  &__term
    +box
    margin-left: auto
    position: relative
    min-height: 80px
    display: flex
    align-items: center
    font-size: 16px
    padding: 20px
    background-color: $color-blue
    color: #fff
    padding-left: 60px
    +media-breakpoint-up(md)
      padding-left: 20px
      color: #aeb1c3
      background-color: #031637
      .active &
        padding: 45px 20px
        background-color: $color-blue
        color: #fff

  &__arrow
    position: absolute
    z-index: 3
    top: 0
    bottom: 0
    left: 100%
    width: 30px
    background-image: url(../image/arrow.svg)
    background-position: 0 0
    background-repeat: no-repeat
    background-size: 100% 100%
    display: none
    +media-breakpoint-up(md)
      .active &
        display: block




  &__bg
    position: absolute
    top: 0
    bottom: 0
    right: 100%
    min-width: 30em
    +media-breakpoint-up(md)
      background-color: #0b182f
    span
      +ssb
      font-size: 24px
      position: absolute
      top: 0
      bottom: 0
      left: 100%
      padding: 0 15px
      align-items: center
      background-color: rgba($color-blue, .73)
      display: flex
      +media-breakpoint-up(md)
        display: none
        left: auto
        right: 0
        .active &
          display: flex

  &__bgi
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: .1
    +cover
    display: none
    +media-breakpoint-up(md)
      display: block
      .active &
        opacity: 1

  &__text
    margin-left: 40px
    display: block
    +media-breakpoint-up(md)
      display: none
      .active &
        display: block

  &__desc
    display: flex
    align-items: center
    padding: 20px 0
    +media-breakpoint-up(md)
      .active &
        background: #ebf1f6
        position: relative
        &:after
          content: ''
          position: absolute
          top: 0
          bottom: 0
          left: 100%
          background: #ebf1f6
          width: 1000em


  &__num
    +ssbl
    font-size: 24px
    line-height: 1
    color: #000
    margin-left: 40px
    display: none
    +media-breakpoint-up(md)
      display: block
      .active &
        display: none

