.catalog
  padding: 30px 0
  .main-title
    margin-bottom: 25px
  &__preview
    display: block
    height: 255px
    +cover

  &__item
    margin: 15px 0


  &__item-title
    +ssb
    margin: 15px 0
    a
      color: #434961
      &:hover
        color: $color-blue

  p
    margin: 10px 0
    font-size: 14px
    line-height: (19/14)

  &__price
    +ssb
    color: $color-blue