.partner-program
  position: relative
  padding: 20px 0
  overflow: hidden
  +media-breakpoint-up(md)
    padding: 45px 0
    

  .main-title
    margin-bottom: 20px
  p
    max-width: 430px
  
  &__wrap
    position: relative
    z-index: 2

  &__bg
    width: 100%
    position: absolute
    z-index: 1
    top: 70%
    left: 0
    right: 0
    height: 300px
    +cover
    +media-breakpoint-up(md)
      margin-left: 50px
      left: 50%
      right: auto
      width: 685px
      height: auto
      bottom: 0
      top: 0
      

  &__img
    position: relative
    z-index: 2
    height: 200px
    width: 100%
    margin-top: 30px
    +cover
    box-shadow: 0 12px 27px rgba(#0f0f14, .15)
    +media-breakpoint-up(lg)
      margin-top: 0
      transform: translateX(-60px)
      width: 500px
      height: 315px
