.header
  +box
  background-color: $color-primary
  padding:
    left: 15px
    right: 15px
    bottom: 20px
  &__wrap
    max-width: 1270px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: baseline
    +r(520)
      flex-wrap: wrap
      justify-content: flex-end

  .logo
    flex: 0 1 auto
    position: relative
    top: 10px
    +r(992)
      flex: 1 1 auto

  &__ml
    display: none
    +r(520)
      display: block
      width: 50%
      flex: 1 1 auto

  nav
    flex: 1 1 auto
    text-align: right
    font-size: 14px
    +r(992)
      display: none
    a
      color: #aeb1c3
      margin: 0 15px
      line-height: 1
      +r(1200)
        margin: 0 5px
      &:hover
        color: #fff
      &.is-active
        +ssb
        color: #8aafe2

  .phone
    flex: 0 1 auto
    margin-left: 40px
    +r(520)
      order: 3
      margin-top: 20px
      margin-left: 0

  .person
    flex: 0 1 auto
    margin-left: 20px
    +r(520)
      order: 4
      margin-top: 20px

  .hamburger
    top: 4px
    flex: 0 1 auto
    margin-left: 20px
    display: none
    +r(992)
      display: block
    +r(520)
      margin-left: auto