.panel
  padding: 60px 0 80px
  .col-md-6
    display: flex
    align-items: stretch
  &__item
    margin-top: 20px
    background-color: #ebf1f6
    padding: 35px 30px
    +box
    width: 100%
    +media-breakpoint-up(sm)
      padding: 80px 65px
    +media-breakpoint-up(md)
      padding: 40px 35px
    +media-breakpoint-up(lg)
      padding: 80px 65px

    &_dark
      background-color: $color-primary
      color: #fff
      box-shadow: 0 2px 38px rgba($color-primary, .5)
      .main-title
        color: #fff
      .btn
        border-color: #fff
        color: #fff
        &:hover
          background-color: #fff
          color: $color-blue

  &__link
    color: $color-default
    opacity: .65
    font-size: 14px
    .panel__item_dark &
      color: #fff


  p
    padding: 30px 0
    max-width: 300px