.top-block
  background-color: $color-primary
  background-image: url(../image/top-block-bg.jpg)
  background-size: 100%
  background-position: 50% 100%
  background-repeat: no-repeat
  margin-bottom: 30px
  +media-breakpoint-up(sm)
    margin-bottom: 70px

  &__inner
    position: relative
    z-index: 3

  &__wrap
    max-width: 1270px
    margin: 0 auto
    +box
    padding: 90px 0
    box-shadow: 0 8px 21px rgba(#2c2d3f, .22)
    position: relative
    z-index: 2
    +media-breakpoint-up(sm)
      padding: 150px 0
    &:before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: #141a2f
      opacity: .84
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background-image: url(../image/top-block-line.png)
      background-repeat: repeat-y
      background-position: 50% 0

  &__title
    +ssb
    font-size: 32px
    line-height: (58/56)
    color: #fff
    +media-breakpoint-up(sm)
      font-size: 56px

  .play
    margin-top: 40px


