.mobile-menu
  +box
  background-color: $color-primary
  li
    &.is-active
      a
        +ssb
        color: $color-blue
        background-color: rgba(#fff, .9)
  a
    +box
    display: block
    padding: 10px 20px
    color: #aeb1c3
