.registration
  padding: 65px 0
  &__wrap
    background-color: #ebf1f6
    padding: 25px 0
    position: relative
    +media-breakpoint-up(sm)
      padding: 45px 0


  &__title
    +ssb
    font-size: 28px
    line-height: 1.1
    color: $color-primary
    +media-breakpoint-up(sm)
      font-size: 36px

  p
    margin: 5px 0
    opacity: .65

  .btn
    margin-top: 15px

  &__img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 265px
    box-shadow: 0 6px 51px rgba(#2c2d3f, .32)
    +cover
    display: none
    +media-breakpoint-up(lg)
      display: block

  &__text
    +box
    padding-left: 20px
    padding-right: 20px
    +media-breakpoint-up(sm)
      padding-left: 40px
      padding-right: 40px
    +media-breakpoint-up(lg)
      padding-left: 360px
      padding-right: 20px
    +media-breakpoint-up(xl)
      padding-left: 415px
      padding-right: 0
