.about
  position: relative
  padding: 30px 0
  overflow: hidden

  .main-title
    margin-bottom: 20px
  p
    max-width: 360px
  
  &__wrap
    position: relative
    z-index: 2

  &__bg
    position: absolute
    z-index: 1
    height: 500px
    top: 60%
    left: 0
    right: 0
    margin-left: 50px
    +cover
    +media-breakpoint-up(md)
      width: 685px
      bottom: 0
      top: 0
      left: 50%
      right: auto
      height: auto


  &__img
    position: relative
    z-index: 2
    height: 250px
    width: 100%
    margin-top: 30px
    +cover
    box-shadow: 0 12px 27px rgba(#0f0f14, .15)
    +media-breakpoint-up(lg)
      margin-top: 0
      width: 540px
      height: 300px


  .btn
    margin-top: 25px