include _assets/bemto/bemto

include head/head

doctype html
html(lang="ru")

  block head
    head
      +head({
        "title": "Project Template",
        "author": "Sinelnikov Dmitriy",
        "description": "My default project template."
      })
      
    +b.BODY.page
      +b.mobile-menu#menu
        ul
          li.is-active
            a(href="#") Главная
          li
            a(href="#") Программа
          li
            a(href="#") Проекты
          li
            a(href="#") Услуги
          li
            a(href="#") Сотрудничество
          li
            a(href="#") Контакты
      +e.wrap#panel
        block header
          +b.header
            +e.wrap
              +b.A.logo(href="#")
                img(src="image/logo.png", alt="")
              nav
                a.is-active(href="#") Главная
                a(href="#") Программа
                a(href="#") Проекты
                a(href="#") Услуги
                a(href="#") Сотрудничество
                a(href="#") Контакты
              +b.phone
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12px', height='12px')
                  path(fill-rule='evenodd', fill='rgb(0, 83, 179)', d='M11.647,8.969 L9.828,7.212 C9.466,6.864 8.866,6.875 8.491,7.237 L7.575,8.122 C7.517,8.090 7.457,8.058 7.394,8.024 C6.815,7.715 6.023,7.291 5.190,6.485 C4.354,5.678 3.914,4.912 3.592,4.353 C3.558,4.294 3.526,4.237 3.494,4.183 L4.109,3.590 L4.411,3.298 C4.786,2.935 4.797,2.356 4.435,2.006 L2.616,0.250 C2.255,-0.099 1.655,-0.088 1.279,0.274 L0.766,0.772 L0.781,0.785 C0.609,0.997 0.465,1.242 0.358,1.505 C0.260,1.755 0.198,1.995 0.170,2.235 C-0.070,4.157 0.840,5.914 3.309,8.298 C6.723,11.593 9.473,11.344 9.592,11.332 C9.850,11.302 10.098,11.242 10.350,11.148 C10.621,11.046 10.873,10.908 11.092,10.742 L11.104,10.752 L11.623,10.261 C11.998,9.898 12.008,9.319 11.647,8.969 Z')
                a(href="tel:84951182853") +7 (495) 118-28-53
              +b.person
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17px', height='17px')
                  path(fill-rule='evenodd', fill='rgb(10, 95, 194)', d='M16.500,8.500 C16.500,4.089 12.911,0.500 8.500,0.500 C4.089,0.500 0.500,4.089 0.500,8.500 C0.500,10.830 1.502,12.930 3.096,14.393 L3.089,14.400 L3.348,14.619 C3.365,14.633 3.384,14.644 3.400,14.659 C3.538,14.773 3.681,14.881 3.827,14.986 C3.874,15.020 3.921,15.055 3.969,15.088 C4.124,15.195 4.284,15.296 4.447,15.393 C4.482,15.413 4.518,15.434 4.554,15.454 C4.732,15.556 4.914,15.651 5.101,15.739 C5.114,15.746 5.128,15.751 5.142,15.758 C5.750,16.040 6.398,16.248 7.077,16.370 C7.095,16.373 7.112,16.377 7.130,16.380 C7.341,16.416 7.554,16.445 7.769,16.465 C7.796,16.467 7.822,16.468 7.848,16.471 C8.063,16.489 8.280,16.500 8.500,16.500 C8.718,16.500 8.933,16.489 9.146,16.471 C9.173,16.469 9.200,16.468 9.228,16.465 C9.441,16.446 9.653,16.418 9.861,16.382 C9.879,16.379 9.898,16.376 9.916,16.372 C10.584,16.252 11.223,16.049 11.823,15.774 C11.845,15.764 11.868,15.754 11.890,15.744 C12.069,15.659 12.245,15.568 12.417,15.472 C12.459,15.447 12.502,15.423 12.544,15.398 C12.701,15.306 12.855,15.210 13.004,15.107 C13.058,15.071 13.111,15.032 13.164,14.993 C13.292,14.901 13.417,14.807 13.539,14.707 C13.566,14.685 13.595,14.667 13.622,14.644 L13.888,14.422 L13.880,14.415 C15.489,12.951 16.500,10.842 16.500,8.500 ZM1.082,8.500 C1.082,4.409 4.409,1.082 8.500,1.082 C12.590,1.082 15.918,4.409 15.918,8.500 C15.918,10.704 14.951,12.686 13.420,14.046 C13.334,13.987 13.248,13.933 13.160,13.889 L10.697,12.658 C10.476,12.547 10.338,12.325 10.338,12.078 L10.338,11.218 C10.395,11.148 10.456,11.068 10.518,10.980 C10.837,10.530 11.092,10.029 11.279,9.490 C11.647,9.315 11.885,8.947 11.885,8.533 L11.885,7.502 C11.885,7.250 11.793,7.005 11.627,6.813 L11.627,5.455 C11.642,5.304 11.696,4.452 11.080,3.749 C10.543,3.137 9.676,2.827 8.500,2.827 C7.324,2.827 6.457,3.137 5.920,3.749 C5.304,4.452 5.357,5.304 5.373,5.454 L5.373,6.812 C5.207,7.005 5.115,7.249 5.115,7.501 L5.115,8.533 C5.115,8.853 5.258,9.152 5.504,9.353 C5.740,10.276 6.225,10.975 6.404,11.212 L6.404,12.054 C6.404,12.291 6.275,12.510 6.066,12.624 L3.766,13.878 C3.693,13.918 3.620,13.965 3.547,14.017 C2.035,12.658 1.082,10.688 1.082,8.500 Z')
                a(href="#") Личный кабинет
              +e.ml
              +b.hamburger#toggle-menu-button
                span
        block content
          div content

        block footer
          +b.footer
            +e.wrap
              +b.A.logo(href="#")
                img(src="image/logo.png", alt="")
              nav
                a.is-active(href="#") Главная
                a(href="#") Программа
                a(href="#") Проекты
                a(href="#") Услуги
                a(href="#") Сотрудничество
                a(href="#") Контакты
              +b.phone
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='12px', height='12px')
                  path(fill-rule='evenodd', fill='rgb(0, 83, 179)', d='M11.647,8.969 L9.828,7.212 C9.466,6.864 8.866,6.875 8.491,7.237 L7.575,8.122 C7.517,8.090 7.457,8.058 7.394,8.024 C6.815,7.715 6.023,7.291 5.190,6.485 C4.354,5.678 3.914,4.912 3.592,4.353 C3.558,4.294 3.526,4.237 3.494,4.183 L4.109,3.590 L4.411,3.298 C4.786,2.935 4.797,2.356 4.435,2.006 L2.616,0.250 C2.255,-0.099 1.655,-0.088 1.279,0.274 L0.766,0.772 L0.781,0.785 C0.609,0.997 0.465,1.242 0.358,1.505 C0.260,1.755 0.198,1.995 0.170,2.235 C-0.070,4.157 0.840,5.914 3.309,8.298 C6.723,11.593 9.473,11.344 9.592,11.332 C9.850,11.302 10.098,11.242 10.350,11.148 C10.621,11.046 10.873,10.908 11.092,10.742 L11.104,10.752 L11.623,10.261 C11.998,9.898 12.008,9.319 11.647,8.969 Z')
                a(href="tel:84951182853") +7 (495) 118-28-53

        
      block vendors
        // build:js js/vendor.js
        script( src="_assets/jquery/dist/jquery.min.js")
        script( src="_assets/slick-carousel/slick/slick.min.js")
        script( src="_assets/scrollmagic/scrollmagic/minified/ScrollMagic.min.js")
        script( src="_assets/slideout-1.0.1/dist/slideout.min.js")
        script( src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js")
        script( src="_assets/Vide-0.5.1/dist/jquery.vide.min.js")
        // endbuild
      block scripts
        // build:js js/main.js
        script( src="js/main.js")
        // endbuild
