extends _base

block content
  // BEGIN TOP-BLOCK 
  +b.top-block
    +e.wrap#videbg
      .container
        .row
          .col
            +e.inner
              +e.H1.title Партнерская программа <br>для строительных <br>компаний
              +b.A.play.js-video-popup(href="https://www.youtube.com/watch?v=fUJByB-jGWE")
                +e.play
                +e.SPAN.text Узнать больше
  // END TOP-BLOCK 
  
  // BEGIN ABOUT 
  +b.about
    +e.bg(style="background-image: url(image/about-bg.jpg)")
    +e.wrap
      .container
        .row.align-items-center
          .col-md-5
            h2.main-title О нас
            p Сотрудничая с нами, вы получаете качественные домокомплекты, сопутствующие материалы и надежного партнера в вашем бизнесе
            +b.A.btn._default(href="#") Подробнее
          .col-md-7
            +e.img(style="background-image: url(image/about.jpg)")
  // END ABOUT 

  // BEGIN HOMESET 
  +b.homeset
    .container
      .row
        .col
          h2.main-title Готовые домокомплекты
    +e.slider-wrap(data-slideout-ignore)
      .carousel
        -for(var i = 0; i<6;i++)
          +e.item
            .container
              .row
                .col
                  img(src="image/s1.jpg", alt="")
              .row
                .col
                  +e.H3.subtitle Преимущества:
              .row
                .col-md-4
                  +e.UL.list
                    +e Снижение трудозастрат
                    +e Экономия материалов
                    +e Высокие показатели эффективности
                    +e Существенно сокращаются сроки строительства
                .col-md-4
                  +e.UL.list
                    +e Снижение трудозастрат
                    +e Экономия материалов
                    +e Высокие показатели эффективности
                    +e Существенно сокращаются сроки строительства
                .col-md-4
                  +e.UL.list
                    +e Снижение трудозастрат
                    +e Экономия материалов
                    +e Высокие показатели эффективности
                    +e Существенно сокращаются сроки строительства
  // END HOMESET 

  // BEGIN PANEL 
  +b.panel
    .container
      .row.align-items-stretch
        .col-md-6
          +e.item._dark
            h3.main-title Стать нашим партером
            +e.A.link(href="#") Что получают партнеры &gt;
            p Зарегистрируйтесь и получайте высококачественные домокомплекты по специальной цене от производителя
            +b.A.btn._default(href="#") Регистрация
        .col-md-6
          +e.item
            h3.main-title Получить консультацию
            +e.A.link(href="#") Почему стоит рабоать с нами &gt;
            p Если у вас возникли вопросы, звоните и пишите нам, будем рады вам ответить:<br><br>
            +b.A.btn._default(href="#") Обратный звонок


  // END PANEL 

  // BEGIN PARTNER-PROGRAM 
  +b.partner-program
    +e.bg(style="background-image: url(image/partner-program-bg.jpg)")
    +e.wrap
      .container
        .row.align-items-center
          .col-md-6
            h2.main-title Для чего нужна <br>партнерская программа
            p Партнерская программа позволяет размещать заказы на производство домокомплектов, предоставляет доступ к дополнительным опциям и услугам. Участники программы могут публиковать данные о вашей компании в базе подрядчиков и предлагать товары для реализации
          .col-md-6
            +e.img(style="background-image: url(image/partner-program.jpg)")

  // END PARTNER-PROGRAM 

  // BEGIN RESULT 
  +b.result
    .container
      .row
        .col
          h2.main-title Что вы получаете
      +e.line.row#line1
        +e.term.col-md-4 Заказ домокомплектов по оптовым ценам
            +e.arrow
            +e.bg
              +e.bgi(style="background-image: url(image/r1.jpg)")
              span 01
        +e.desc.col-md-6
          +e.text Участники Партнерской программы получают доступ к базе проектов и бесплатную документацию для домокомплектов по типовому проекту
          +e.num 01
      +e.line.row#line2
        +e.term.col-md-4 Услуги проектирования
            +e.arrow
            +e.bg
              +e.bgi(style="background-image: url(image/r2.jpg)")
              span 02
        +e.desc.col-md-6
          +e.text Участники Партнерской программы получают доступ к базе проектов и бесплатную документацию для домокомплектов по типовому проекту
          +e.num 02
      +e.line.row#line3
        +e.term.col-md-4 Доступ к базе проектов и проектной документации
            +e.arrow
            +e.bg
              +e.bgi(style="background-image: url(image/r3.jpg)")
              span 03
        +e.desc.col-md-6
          +e.text Участники Партнерской программы получают доступ к базе проектов и бесплатную документацию для домокомплектов по типовому проекту
          +e.num 03
      +e.line.row#line4
        +e.term.col-md-4 Обучение монтажу домокомплектов
            +e.arrow
            +e.bg
              +e.bgi(style="background-image: url(image/r4.jpg)")
              span 04
        +e.desc.col-md-6
          +e.text Участники Партнерской программы получают доступ к базе проектов и бесплатную документацию для домокомплектов по типовому проекту
          +e.num 04
      +e.line.row#line5
        +e.term.col-md-4 Размещение в базе подрядчиков
            +e.arrow
            +e.bg
              +e.bgi(style="background-image: url(image/r5.jpg)")
              span 05
        +e.desc.col-md-6
          +e.text Участники Партнерской программы получают доступ к базе проектов и бесплатную документацию для домокомплектов по типовому проекту
          +e.num 05
      +e.line.row#line6
        +e.term.col-md-4 Возможность реализации собственной продукции в разделе «Распродажа»
            +e.arrow
            +e.bg
              +e.bgi(style="background-image: url(image/r6.jpg)")
              span 06
        +e.desc.col-md-6
          +e.text Участники Партнерской программы получают доступ к базе проектов и бесплатную документацию для домокомплектов по типовому проекту
          +e.num 06

  // END RESULT 

  // BEGIN CATALOG 
  +b.catalog
    .container
      .row
        .col
          h2.main-title Каталог проектов
      .row
        .col-lg-3.col-md-6
          +e.item
            +e.A.preview(href="#", style="background-image: url(image/catalog.jpg)")
            +e.H4.item-title
              a(href="#") Проект дома Zx77A
            p Строительная площадь: <b>200 m<sup>2</sup></b><br>Стоимость домокомплекта из ж/б панелей БЭНПАН+ 
            +e.price от 772 813 руб.
        .col-lg-3.col-md-6
          +e.item
            +e.A.preview(href="#", style="background-image: url(image/catalog.jpg)")
            +e.H4.item-title
              a(href="#") Проект дома Zx77A
            p Строительная площадь: <b>200 m<sup>2</sup></b><br>Стоимость домокомплекта из ж/б панелей БЭНПАН+ 
            +e.price от 772 813 руб.
        .col-lg-3.col-md-6
          +e.item
            +e.A.preview(href="#", style="background-image: url(image/catalog.jpg)")
            +e.H4.item-title
              a(href="#") Проект дома Zx77A
            p Строительная площадь: <b>200 m<sup>2</sup></b><br>Стоимость домокомплекта из ж/б панелей БЭНПАН+ 
            +e.price от 772 813 руб.
        .col-lg-3.col-md-6
          +e.item
            +e.A.preview(href="#", style="background-image: url(image/catalog.jpg)")
            +e.H4.item-title
              a(href="#") Проект дома Zx77A
            p Строительная площадь: <b>200 m<sup>2</sup></b><br>Стоимость домокомплекта из ж/б панелей БЭНПАН+ 
            +e.price от 772 813 руб.
  // END CATALOG 

  // BEGIN SERVICE 
  +b.service
    .container
      .row
        .col
          h2.main-title Услуги
      .row
          .col-lg-3.col-md-6
            +e.item
              +e.A.preview(href="#")
                span(style="background-image: url(image/service1.jpg)")
              +e.H4.item-title
                a(href="#") Аренда техники
          .col-lg-3.col-md-6
            +e.item
              +e.A.preview(href="#")
                span(style="background-image: url(image/service2.jpg)")
              +e.H4.item-title
                a(href="#") Правовая поддержка
          .col-lg-3.col-md-6
            +e.item
              +e.A.preview(href="#")
                span(style="background-image: url(image/service3.jpg)")
              +e.H4.item-title
                a(href="#") Услуги сертифицированной лаборатории
          .col-lg-3.col-md-6
            +e.item
              +e.A.preview(href="#")
                span(style="background-image: url(image/service4.jpg)")
              +e.H4.item-title
                a(href="#") Ведение бухгалтерской отчетности
  // END SERVICE 


  // BEGIN REGISTRATION 
  +b.registration
    .container
      .row
        .col
          +e.wrap
            +e.img(style="background-image: url(image/reg.jpg)")
            +e.text
              +e.title Зарегистрируйтесь сейчас 
              p и получите доступ ко всем товарам и проектам партнерской программы
              +b.A.btn._primary(href="#") Регистрация
  // END REGISTRATION 