.homeset
  padding: 50px 0 20px
  +media-breakpoint-up(md)
    padding: 80px 0 50px
  .main-title
    margin-bottom: 50px
  &__list
    list-style-image: url(../image/check.png)
    list-style-position: outside
    padding-left: 20px
    li+li
      margin: 10px 0
    +media-breakpoint-up(md)
      li
        margin: 10px 0

  &__subtitle
    +ssb
    font-size: 18px
    color: $color-primary
    margin-bottom: 15px
    margin-top: 30px

  &__slider-wrap
    position: relative
    max-width: 1170px
    margin: 0 auto
    padding-right: 40px


  .slick-dots
    position: absolute
    top: 0
    left: 100%
    margin-left: 15px
    +media-breakpoint-up(md)
      top: 50px
    li.slick-active
      button
        color: $color-blue
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          right: 0
          height: 7px
          width: 100%
          background-color: #fff
        &:before
          content: ''
          position: absolute
          z-index: 2
          left: 0
          right: 0
          bottom: 5px
          height: 1px
          background-color: $color-blue

    button
      +ssbl
      color: #959aa4
      border: 0 none
      cursor: pointer
      background: none
      outline: none
      padding-left: 2px
      padding-right: 2px

