.footer
  +box
  background-color: $color-primary
  padding:
    left: 15px
    right: 15px
    bottom: 20px
  &__wrap
    max-width: 1270px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: baseline

  .logo
    flex: 0 1 auto
    position: relative
    top: 10px

  nav
    flex: 1 1 auto
    text-align: center
    font-size: 14px
    +r(992)
      display: none
    a
      color: #aeb1c3
      margin: 0 15px
      line-height: 1
      +r(1200)
        margin: 0 5px
      &:hover
        color: #fff
      &.is-active
        +ssb
        color: #8aafe2

  .phone
    flex: 0 1 auto